@font-face {
    font-family: "Assistant";
    src: url(/font/Assistant.ttf);
}

:root {
    --header-background: #1d1d5f;
    --text-container-background-narrow: #210790;
    --text-container-background-medium: #f6f6f6;
    --text-container-background-wide: #1d1d5f;
    --full-width-container-background: #c0c0d0;
    --blue-text-colour: rgb(29, 18, 178);
    --button-background: #210790;
    --sans-serif-font-family: "Assistant";
}

* {
    font-family: var(--sans-serif-font-family);
}

body {
    margin: 0;
    background: var(--text-container-background-medium);
    scroll-behavior: smooth;
}

p {
    font-size: 15px;
}

h1 {
    font-weight: normal;
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

header {
    background: var(--header-background);
    color: white;
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    position: sticky;
    top: 0px;
    z-index: 100;
}

img.circle_clip_path {
    clip-path: circle();
}

header a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header span#header_name {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 1rem;
}

header div#header_list_container {
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div#header_list_container a {
    transition: color 0.5s ease;
    font-size: 1.2em;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

header div#header_list_container a:hover {
    color: grey;
}

header div#header_hamburger_container {
    display: none;
    cursor: pointer;
}

main {
    margin: 0 3rem;
}

main > div {
    display: flex;
}

main div.text_container {
    padding: 3rem;
    color: white;
}

main div.text_container.narrow {
    background: var(--text-container-background-narrow);
    flex: 0 0 20vw;
}

main div.text_container.medium {
    background: var(--text-container-background-medium);
    color: var(--blue-text-colour);
    padding: 2rem 10rem 2rem 2rem;
    flex: 0 0 40vw;
    font-size: .8rem;
    box-sizing: border-box;
}

main div.text_container.half {
    background: var(--text-container-background-wide);
    flex: 0 0 50%;
    box-sizing: border-box;
}

main div.text_container.wide {
    background: var(--text-container-background-wide);
    padding: 3rem 8rem;
}

main div.text_container small {
    display: block;
    margin: 1rem 0;
}

main div.image_behind_text_container div.image_container {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}

main div.image_behind_text_container div.image_container img {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    height: auto;
}

main hr {
    border-color: white;
}

div.light_font_weight {
    font-weight: 300;
}

div.light_font_weight b, div.light_font_weight h3 {
    font-weight: 600;
}

main div.text_container.white_background {
    background: transparent;
    color: var(--blue-text-colour);
}

main div.flex_column {
    display: flex;
    flex-direction: column !important;
    align-items: center;
}

main div.two_adjacent_text_containers {
    display: flex;
    flex-direction: row;
}

main div.two_adjacent_text_containers div.text_container.wide {
    flex-grow: 1;
}

main div.full_width_container {
    background: #c0c0d0;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
    color: white;
}

main button {
    background: var(--button-background);
    color: white;
    border: none;
    outline: none;
    padding: .5rem 3rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    box-sizing: border-box;
}

main button a {
    color: inherit;
    text-decoration: initial;
}

main button:hover {
    background: transparent;
    border: 1px solid var(--button-background);
    color: var(--button-background);
}

main button.inverted {
    background: white;
    color: var(--button-background);
}

main button.inverted:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
}

div.centred {
    text-align: center;
}

div.full_width_container h2 {
    margin: .5rem 0;
    font-size: 1.8rem;
}

div.side_by_side_container {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
}

div.side_by_side_container > div:not(.separator) {
    flex: 0 0 50%;
    box-sizing: border-box;
    text-align: center;
}

div.side_by_side_container div.separator {
    background: white;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 2px;
    height: 100%;
}

div.side_by_side_container table th {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

div.side_by_side_container table td {
    white-space: nowrap;
}

div.side_by_side_container div.left_side table {
    margin-left: auto;
    margin-right: 3rem;
}

div.side_by_side_container div.right_side table {
    margin-left: 3rem;
}

div.side_by_side_container table td:first-child {
    text-align: right;
    padding-right: .5rem;
}

div.side_by_side_container table td:last-child {
    text-align: left;
    font-weight: 300;
}

div.background_image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    z-index: 1;
}

div:has(> div.background_image) {
    position: relative;
    overflow: hidden;
}

div:has(> div.background_image) * {
    z-index: 2;
}

div.background_image::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

div#conference_schedule_container div.background_image {
    background-image: url(img/470f54_4b9bab71111948378a7199db85b4c959~mv2.avif);
}

div#conference_schedule_container div.background_image::after {
    background: rgba(0, 0, 128, .3);
}

a.unstyled {
    text-decoration: none;
    color: inherit;
}

a.unstyled.underlined {
    text-decoration: underline;
}

small.very {
    font-size: .7em;
    color: lightgrey;
}

div.full_width_container div.alignment_container {
    width: 60%;
}

div#our_speakers_container {
    color: var(--blue-text-colour);
    padding: 3rem 0;
}

div#our_speakers_container div.background_image {
    background-image: url(img/470f54_5f40526af3504e1f8e75c88f97fbdebf~mv2.avif);
}

div#our_speakers_container div.background_image::after, div#our_workshops_container div.background_image::after {
    background: rgba(186, 186, 186, .5);
}

div#our_workshops_container {
    padding: 3rem 0;
}

div#our_workshops_container div.background_image {
    background-image: url(img/470f54_db03873d8271443a91c8e342c6ef4242~mv2.avif);
}

div#our_sponsors_container {
    color: var(--blue-text-colour);
}

div#our_sponsors_container table {
    width: 100%;
}

div#our_sponsors_container table td {
    text-align: center;
}

div#our_sponsors_container img {
    width: 20vw;
}

div#details_container div.text_container {
    padding: 3rem 0;
    background-color: var(--text-container-background-medium);
}

div#details_container * {
    margin: 0;
}

div.full_width_styled_container {
    border-top: 1px solid var(--blue-text-colour);
    border-bottom: 1px solid var(--blue-text-colour);
    display: flex;
    flex-direction: row;
    justify-content: center;

}

div.full_width_styled_container img {
    height: 4rem;
    margin: 1rem;
}

div.no_background {
    background: transparent !important;
}

iframe#google_maps_embed {
    width: 100%;
    height: 15rem;
}

div#copyright_footer {
    padding: .5rem;
    margin-bottom: 2rem;
}

.fade_in_while_scrolling {
    opacity: 0;
    transition: opacity 2s ease;
}

.fade_in_while_scrolling.transition_performed {
    opacity: 1;
}

div#people_container {
    background: var(--text-container-background-narrow);
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 2rem 1rem;
}

div#people_container div.important_container {
    margin-bottom: 3rem;
}

div#people_container img {
    width: 16rem;
    margin-right: 1rem;
}

div#people_container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

div#people_container div.description_container {
    background: var(--text-container-background-medium);
    padding: 1rem;
    box-sizing: border-box;
    margin-left: 1rem;
    margin-top: -2rem;
    position: relative;
}

div#people_container div.description_container > * {
    display: block;
}

div#people_container span.person_name {
    color: var(--text-container-background-wide);
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

div#people_container span.person_role {
    color: var(--blue-text-colour);
}

div#people_container a.person_email {
    font-weight: 300;
    color: var(--blue-text-colour);
}

canvas.scrolling_image {
    width: 100%;
    display: block;
}




@media (max-width: 1000px) {
    header {
        padding: 1rem;
        flex-wrap: wrap;
        align-items: center;
    }

    header img#header_logo {
        width: 20vw;
    }

    header span#header_name {
        font-size: 2rem;
    }

    header div#header_hamburger_container {
        display: initial;
        margin-left: auto;
    }

    header div#header_hamburger_container img {
        height: 10vw;
    }

    header div#header_list_container {
        margin: 0;
        width: 100%;
        display: none;
    }

    header div#header_list_container ul {
        flex-direction: column;
        padding: 0;
        align-items: center;
        width: 100%;
    }

    main {
        margin: 0;
    }

    div.image_behind_text_container {
        flex-direction: column;
    }

    div.image_behind_text_container div.image_container {
        width: 100%;
        height: 40vh;
        order: -1;
    }

    div.image_behind_text_container div.image_container img {
        max-width: 120%;
    }

    main div.two_adjacent_text_containers {
        flex-direction: column;
    }

    main div.text_container.wide {
        padding: 2rem;
    }

    main div.text_container.medium {
        padding: 2rem;
    }

    main div.full_width_container {
        flex-direction: column;
        align-items: center;
    }

    main div.full_width_container img.circle_clip_path {
        width: 40vw;
        aspect-ratio: 1;
    }

    button {
        font-size: 1.5em;
    }

    div.side_by_side_container {
        flex-direction: column;
        align-items: center;
    }

    div.side_by_side_container > div.separator {
        position: relative;
        width: 100%;
        height: 2px;
        left: initial;
        top: initial;
        margin: 1rem 0;
    }

    div.side_by_side_container table {
        margin: initial !important;
    }

    div#our_sponsors_container table tr {
        display: flex;
        flex-direction: column;   
    }

    div#our_sponsors_container table img {
        width: auto !important;
    }

    div#details_container div.text_container {
        padding: 2rem;
    }

    div#people_container {
        margin-top: 0;
    }
}